body {
    font-family: Arial, sans-serif;
    /* background: rgba(155, 6, 155, 0.842); */
    padding: 20px;
    margin: 0;
    width: 100%;
    
}
.main{
    width: 100%;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240411/pngtree-light-bulb-with-brain-inside-the-concept-of-the-business-idea-image_15657372.jpg);
    position: relative;
    display: inline-block;
    /* width: 100vw; */
    height: 100%;
    background-size: cover;
} 
h1 { 
    text-align: center;
    color: #f8e912c5;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    height: 250px;
    width: 700px;
}

input, textarea {
    width: 70%;
    margin-bottom: 10px;
    padding: 8px;
}
textarea{
    height: 50px;
}

button {
    padding: 15px 20px;
    background: #027011;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: #0056b3;
}

.idea {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    height: 300px;
    width: 700px;
}

.feedback {
    margin-left: 15px;
    margin-top: 10px;
    background: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
}
